@tailwind base;
@tailwind components;
@tailwind utilities;

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transition: filter 0.2s ease-out;
}

body {
	background: linear-gradient(-45deg, #080808, #0c012c, #06020f, #050014);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: 150vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
