@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.background {
  background-color: #080808;
  height: 150vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/space.jpg'); /* Replace 'your-image-url.jpg' with the URL or path to your image */
  background-size: cover;
  background-position: center;
  z-index: -10;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
